[flake8]
    exclude = __pycache__,venv,.venv,migrations
    max-line-length = 79
    inline-quotes = "
    max-complexity = 10
    import-order-style = google

    application_import_names = homepage, users, countries