* {
    color: #000;
}

#map {
    width: 100%;
    height: 100%;
}

.ymaps-2-1-79-balloon,
.ymaps-2-1-79-balloon__layout {
    border-radius: 15px;
}

.ymaps-2-1-79-map,
.ymaps-2-1-79-inner-panes {
    border-radius: 30px;
}