{% extends "base.html" %} {% block content %} {% load static %}


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<link rel="stylesheet" href="{% static 'css/users/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/profile.css' %}" />

<form enctype="multipart/form-data" method="POST" style="text-align: center;">
    {% csrf_token %}
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-5 mb-3" style="min-width: min-content;">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">

                                <!-- profile image -->
                                {% if user.profile.image %}
                                <div class="-profile-img rounded-circle" style="background-image: url({{ user.profile.image.url }});">
                                </div>
                                {% else %}
                                <div class="-profile-img rounded-circle" style="background-image: url({% static 'img/users/default.jpg' %});">
                                </div>
                                {% endif %}
                                <input id="-profile-img-input" onchange="form.submit()" name="image" type="file">
                                <label for="-profile-img-input" class="">
                                    <span class="btn -profile-img-btn">
                                        <img class="-edit-profile-img-icon" src="{% static 'img/includes/edit-img.png' %}" alt="" />
                                    </span>
                                </label>
                                <!-- profile image -->

                                <div class="mt-3">
                                    <h4 class="-username">{{ user.username }}</h4>
                                    {{ profile_form.homeland_country }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <p style="font-size: 17px;">Стран посещено</p>
                            <div class="progress mb-3" style="height: 10px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: {% widthratio user.profile.visited_countries_count 212 100 %}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p style="font-size: 17px;">{{ user.profile.visited_countries_count }} из 212</p>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card mb-3 -info-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="input-box">
                                    <span class="icon">
                                        <img class="-img" src="{% static 'img/includes/user.png' %}" alt="" />
                                    </span>
                                    <input placeholder="Имя" name="username" value="{{ user.username }}" type="username" required="">
                                    <div class="input-line"></div>
                                </div>
                                {% if user_form.username.errors %}
                                <div class="-error-div">
                                    <p>{{ user_form.username.errors|striptags }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="input-box">
                                    <span class="icon">
                                        <ion-icon name="mail"></ion-icon>
                                    </span>
                                    <input placeholder="Почта" name="email" value="{{ user.email }}" type="name" required="">
                                    <div class="input-line"></div>
                                </div>

                                {% if user_form.email.errors %}
                                <div class="-error-div">
                                    <p>{{ user_form.email.errors|striptags }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-info">Сохранить</button>
                            </div>
                        </div>
                    </div>



                    <div class="row gutters-sm">
                        <div class="col mb-3" style="margin-top: -15px;">

                            <!-- social media card -->
                            <div class="card mt-3 -social-media-card">
                                <div class="card-body">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="2" y1="12" x2="22" y2="12"></line>
                                        <path
                                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                        </path></svg>RoamWay</h6>
                                        <div class="input-box">
                                            <input placeholder="Вставьте ссылку" name="roamway_link" value="{{ user.profile.roamway_link }}">
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info">
                                        <path
                                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                        </path>
                                    </svg>Twitter</h6>
                                        <div class="input-box">
                                            <input placeholder="Вставьте ссылку" name="twitter_link" value="{{ user.profile.twitter_link }}">
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>Instagram</h6>
                                        <div class="input-box">
                                            <input placeholder="Вставьте ссылку" name="instagram_link" value="{{ user.profile.instagram_link }}">
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary">
                                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
                                        </path>
                                    </svg>Facebook</h6>
                                        <div class="input-box">
                                            <input placeholder="Вставьте ссылку" name="facebook_link" value="{{ user.profile.facebook_link }}">
                                        </div>
                                    </li>
                                    <div class="row" style="margin-left: 5px; margin-top: -10px;">
                                        <button type="submit" class="btn btn-info">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                            <!-- social media card -->



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

{% endblock %}